USE [QLPHONGKHAM]
GO
/****** Object:  StoredProcedure [dbo].[uspGetPatientsByDate]    Script Date: 13/01/2024 17:21:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetPatientsByDate]
	@date VARCHAR(100),
	@doctorID CHAR(10)
AS
BEGIN
	IF @doctorID = 'NULL'
	BEGIN
		SELECT DISTINCT BN.MABN, HOTEN_BN, CAST(BN.NGAYSINH AS VARCHAR) AS NGAYSINH, GIOITINH, SDT_BN, EMAIL_BN
		FROM BENHNHAN BN
		WHERE BN.MABN IN (SELECT BS.MABN
						 FROM BENHSU BS
						 WHERE NGAYDIEUTRI = CAST(@date AS DATE))
	END
	ELSE
	BEGIN
		SELECT DISTINCT BN.MABN, HOTEN_BN, CAST(BN.NGAYSINH AS VARCHAR) AS NGAYSINH, GIOITINH, SDT_BN, EMAIL_BN
		FROM BENHNHAN BN
		WHERE BN.MABN IN (SELECT BS.MABN
						 FROM BENHSU BS
						 WHERE NGAYDIEUTRI = CAST(@date AS DATE) AND BS.MABACSI = @doctorID)
	END
END