USE [QLPHONGKHAM]
GO
/****** Object:  StoredProcedure [dbo].[uspFindDrug]    Script Date: 19/01/2024 15:59:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[uspFindDrug]
				@nameOrID NVARCHAR(50)
AS
BEGIN
	SELECT *
	FROM THUOC
	WHERE LOWER(@nameOrID) = LOWER(MATHUOC)
	UNION
	SELECT *
	FROM THUOC
	WHERE LOWER(@nameOrID) = LOWER(TENTHUOC)
END