@import "./global.scss";
.detail  {
    //background-color: antiquewhite;
    
    padding: 3rem;
    margin-top: 2rem;
    border: 2px solid;
    border-color: $primary-color;
    border-radius: 1.5rem;
    .patient {
        padding: 1rem;
        &-information {
            .row{
                padding:0.2rem 2rem;
            }
        }
    }
}